<div class="w-11/12 mx-auto bg-blue-100 rounded">
  <app-header></app-header>
</div>
<div class="drawer drawer-mobile w-11/12 mx-auto h-[90%]">
  <input id="my-drawer-2" type="checkbox" class="drawer-toggle"/>
  <div class="drawer-content bg-sky-50 flex flex-col rounded shadow-2xl shadow-sky-600">
    <div class="p-2">
      <router-outlet></router-outlet>
    </div>
  </div>
  <div class="drawer-side mr-3">
    <label for="my-drawer-2" class="drawer-overlay"></label>
    <app-sidebar></app-sidebar>
  </div>
</div>
