<app-carrera-toolbar [entityName]="currentEntity.name" ></app-carrera-toolbar>
<div class="grid justify-center mt-4">
  <div class="card shadow-2xl shadow-sky-600">
    <div class="card-body">
      <div class="card-title">
        <svg class="w-7 h-7 inline fill-teal-600" id="Layer_1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m24 8.48v11.52a1 1 0 0 1 -2 0v-8.248l-7.4 3.536a5 5 0 0 1 -2.577.694 5.272 5.272 0 0 1 -2.7-.739l-7.38-3.513a3.691 3.691 0 0 1 -.084-6.455c.027-.016.056-.031.084-.045l7.457-3.558a5.226 5.226 0 0 1 5.282.045l7.375 3.513a3.767 3.767 0 0 1 1.943 3.25zm-11.978 9.5a7.26 7.26 0 0 1 -3.645-.972l-4.377-2.089v2.7a5.007 5.007 0 0 0 3.519 4.778 15.557 15.557 0 0 0 4.481.603 15.557 15.557 0 0 0 4.481-.607 5.007 5.007 0 0 0 3.519-4.778v-2.691l-4.459 2.13a6.983 6.983 0 0 1 -3.519.928z"/></svg>
        <span class="text-teal-500"><span class="font-bold text-teal-600 text-3xl">C</span>arreras</span></div>
      <div class="divider"></div>
      <div class="grid">
        <label for="name"><span class="text-teal-500">Nombre:</span></label>
        <input type="text" class="input input-primary text-teal-500 " id="name" placeholder="Carrera"  [(ngModel)]="currentEntity.name" />
        <div class="form-control">
          <span class="label cursor-pointer"><span class="text-teal-500">Activo</span></span>
          <div class="label-text">
            <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="currentEntity.enable" />
          </div>
        </div>
        <label class="text-teal-500 text-sm" for="create">Fecha Creacion</label>
        <input class="input input-primary input-sm rounded text-teal-500" type="date" name="" id="create">
        <label class="text-teal-500 text-sm" for="updated">Fecha Actualizada</label>
        <input class="input input-primary input-sm rounded text-teal-500" type="date" name="" id="updated">
        <label class="text-sm text-teal-500" >Usuario</label>
        <app-ts-usuario-combobox (usuarioIdEmiter)="currentEntity.personId=$event" [usuarioId]="currentEntity.personId" ></app-ts-usuario-combobox>
      </div>
      <table class="table table-compact text-teal-500">
        <thead>
          <tr>
            <th><span class="text-teal-900" >Estudiantes</span></th>
            <th><span class="text-red-900">Eliminar</span><th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let estudiante of currentEntity.carreraEstudiante" >
            <td>
              {{estudiante.name}}
            </td>
            <td>
              <a (click)="removeEstudiante(estudiante.personId)">
                <svg class="w-5 h-5 fill-red-800" xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24"><path d="M17,4V2a2,2,0,0,0-2-2H9A2,2,0,0,0,7,2V4H2V6H4V21a3,3,0,0,0,3,3H17a3,3,0,0,0,3-3V6h2V4ZM11,17H9V11h2Zm4,0H13V11h2ZM15,4H9V2h6Z"/></svg>
              </a>
            </td>
          </tr>
          <tr>
          <app-estudiante-search (estudianteEmiter)="this.currentEntity.carreraEstudiante.push($event)" ></app-estudiante-search>
          <tr></tr>
        </tbody>
      </table>
      <div class="card-actions">
        <button class="btn btn-info">
          <span class="text-white" (click)="save()" >Enviar</span>
        </button>
      </div>
    </div>
  </div>
</div>
