<div class="hero min-h-screen bg-teal-900">



  <div class="hero-content flex-col lg:flex-row">
    <img class="" src="/assets/AEXt.png" alt="">
    <div>
      <h1 class="text-5xl font-bold">AEX company</h1>
      <p class="py-6">Nosotros somos la organizacion de una sola persona que tiene interesses en comun con la sociedad
        marcando la diferencia en cada momento oportuno que se pueda evidenciar un cambio a un mundo nuevo.</p>
      <button class="btn btn-primary">Get Started</button>
    </div>
  </div>
</div>
