<ul class="menu menu-compact bg-gradient-to-b from-blue-800 to-sky-500 w-56 text-white rounded">
  <div class="menu-title">
    <svg class="w-7 h-7 inline fill-white " xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24"><path d="M18,0H6A3,3,0,0,0,3,3V23.9l3.67-2.51,2.671,1.826,2.666-1.826,2.666,1.826,2.664-1.825L21,23.9V3A3,3,0,0,0,18,0ZM15,14H7V12h8Zm2-5H7V7H17Z"/></svg>
    Ticket
      <li>
        <span class="text-white" >Ticket Solicitante</span>
      </li>
        <li class="hover-bordered p-3">
          <a routerLink="usuario-list" class="text-white py-0">Usuario</a>
        </li>
        <li class="hover-bordered p-3">
          <a routerLink="ticket-list" class="text-white py-0">Ticket</a>
        </li>
        <li class="hover-bordered p-3">
          <a routerLink="carrera-list" class="text-white py-0">Carrera</a>
        </li>
        <li class="hover-bordered p-3">
          <a routerLink="tkrespuesta-list" class="text-white py-0">Respuesta</a>
        </li>
        <li><span class="text-white" >Tiket Agente</span></li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Rol</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Modulos</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Motivos</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Sugerencia</a>
        </li>

    <!--
      <div tabindex="0" class="collapse">
        <div class="collapse-title text-white">
          <span>Ticket Solicitante</span>
        </div>
        <div class="collapse-content text-white">
          <li><a>Usuario</a></li>
          <li><a>Ticket</a></li>
          <li><a>Carrera</a></li>
        <li><a>Respuesta</a></li>
      </div>
    </div>
    <div tabindex="0" class="collapse">
      <div class="collapse-title text-white">
        <span>Ticket Agente</span>
      </div>
      <div class="collapse-content text-white">
        <li><a>Rol</a></li>
        <li><a>Modulos</a></li>
        <li><a>Motivos</a></li>
        <li><a>Sugerencia</a></li>
      </div>
    </div>-->

  </div>
  <div class="menu-title">
    <svg class="w-7 h-7 inline fill-white" id="Layer_1" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" data-name="Layer 1"><path d="m24 19v-15a3 3 0 0 0 -3-3h-18a3 3 0 0 0 -3 3v15h11v2h-5v2h12v-2h-5v-2zm-14.965-8h-6.035v-2h4.965l2.659-3.988 3 6 1.341-2.012h6.035v2h-4.965l-2.659 3.988-3-6z"/></svg>
    Asistencia
    <li><span class="text-white">Asistencia Admin</span></li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Categoria Activa</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Actividad</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Dias Feriados</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Rol</a>
    </li>
    <li><span class="text-white">Asistencia Docente</span></li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Tipos permiso</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Registro actividad</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Registro permiso</a>
    </li>
    <li class="hover-bordered p-3">
      <a class="text-white py-0">Usuario</a>
    </li>
    <!--
    <div tabindex="0" class="collapse">
      <div class="collapse-title text-white">
        <span>Asistencia Admin</span>
      </div>
      <div class="collapse-content text-white">
        <li><a>Categoria Activa</a></li>
        <li><a>Actividad</a></li>
        <li><a>Dias Feriados</a></li>
        <li><a>Rol</a></li>

      </div>
    </div>
    <div tabindex="0" class="collapse">
      <div class="collapse-title text-white">
        <span>Asistencia Docente</span>
      </div>
      <div class="collapse-content text-white">
        <li><a>Tipos de permiso</a></li>
        <li><a>Registro Actividad</a></li>
        <li><a>Registro Permiso</a></li>
        <li><a>Usuario</a></li>
      </div>
    </div>
    -->

  </div>
</ul>
