<ul class="menu menu-compact bg-teal-900 w-56 text-white rounded">
  <div class="menu-title">
    <svg class="w-7 h-7 inline fill-white " xmlns="http://www.w3.org/2000/svg" id="Layer_1" data-name="Layer 1" viewBox="0 0 24 24"><path d="M18,0H6A3,3,0,0,0,3,3V23.9l3.67-2.51,2.671,1.826,2.666-1.826,2.666,1.826,2.664-1.825L21,23.9V3A3,3,0,0,0,18,0ZM15,14H7V12h8Zm2-5H7V7H17Z"/></svg>
    Ticket
      <li>
        <span class="text-white" >Ticket Solicitante</span>
      </li>
        <li class="hover-bordered p-3">
          <a routerLink="usuario-list" class="text-white py-0">Usuario</a>
        </li>
        <li class="hover-bordered p-3">
          <a routerLink="ticket-list" class="text-white py-0">Ticket</a>
        </li>
        <li class="hover-bordered p-3">
          <a routerLink="carrera-list" class="text-white py-0">Carrera</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0">Respuesta</a>
        </li>
        <li><span class="text-white" >Tiket Agente</span></li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Rol</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Modulos</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Motivos</a>
        </li>
        <li class="hover-bordered p-3">
          <a class="text-white py-0" >Sugerencia</a>
        </li>

  </div>

</ul>
