<div class="grid justify-center mt-4">
  <div class="card shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title">
        Ticket <span class="text-primary">Respuesta</span>
      </div>
      <div class="divider"> </div>
      <div class="grid">
        <label for="">Comentario:</label>
        <input class="input input-primary" type="text" name="" id="" placeholder="Explique su motivo"
          [(ngModel)]="currentEntity.comment">
        <div class="form-control">
          <label class="label cursor-pointer justify-start">
            <input type="checkbox" class="toggle toggle-primary" [(ngModel)]="currentEntity.yesno" />
            <span class="label-text ml-2">Resuelto (Si/No)</span>
          </label>
        </div>
        <input class="input input-primary" type="date" name="" id="" [(ngModel)]="currentEntity.datecreate">
      </div>
      <div class="card-actions">
        <button class="btn btn-primary btn-sm" (click)="save()">Guardar</button>
        <button class="btn btn-sm">Cancelar</button>
      </div>
    </div>
  </div>

  <div class="divider"> </div>

  <div class="card card-compact shadow-2xl shadow-black bg-red-300 ">
    <div class="card-body">
      <div class="card-title">Precaución</div>
      <p>Si elimina el registro no prodrá recuperarlo</p>
      <div class="card-actions">
        <label for="my-modal-6" class="btn modal-button btn-secondary btn-xs">Eliminar</label>

        <!-- Put this part before </body> tag -->
        <input type="checkbox" id="my-modal-6" class="modal-toggle" />
        <div class="modal modal-bottom sm:modal-middle">
          <div class="modal-box">
            <h3 class="font-bold text-lg">Por favor confirme la eliminación</h3>
            <p class="py-4">No se podrán revertir los cambios
            </p>
            <div class="modal-action">
              <label for="my-modal-6" class="btn btn-info btn-warning" (click)="deleteById()">Confirmar</label>
              <label for="my-modal-6" class="btn btn-info">Cancelar</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>