<div class="grid justify-center mt-4">
  <div class="card shadow-2xl shadow-black">
    <div class="card-body">
      <div class="card-title"><span class="text-accent">Carreras</span></div>
      <div class="divider"></div>
      <div class="grid">
        <label for="name"><span class="text-accent-focus">Nombre:</span></label>
        <input type="text" class="input input-accent text-accent-focus" id="name" placeholder="Materia"  [(ngModel)]="currentEntity.name" />
        <div class="form-control">
          <span class="label cursor-pointer"><span class="text-accent-focus">Activo</span></span>
          <div class="label-text">
            <input type="checkbox" class="toggle toggle-accent" [(ngModel)]="currentEntity.enable" />
          </div>
        </div>
        <label class="text-accent-focus" for="create">Fecha Creacion</label>
        <input class="input input-accent text-accent-focus" type="date" name="" id="create">
        <label class="text-accent-focus" for="updated">Fecha Actualizada</label>
        <input class="input input-accent text-accent-focus" type="date" name="" id="updated">
      </div>
      <div class="card-actions">
        <button class="btn btn-success">
          <span class="text-white" (click)="save()" >Enviar</span>
        </button>
        <button type="reset" class="btn btn-ghost">
          <span class="text-red-800" (click)="deleteById()">Eliminar</span>
        </button>
      </div>
    </div>
  </div>
</div>
